/*
		Document   : assan
		Author     : Design_mylife
		Description:assan multi-page for Multipurpose use
		Version    : V2.0
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900);
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #424242;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  background-color: #fff;
  font-family: "Lato", sans-serif; }

/*
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: 0 !important; }

iframe {
  border: none;
  width: 100%; }

::selection {
  background: #fefac7;
  /* Safari */
  color: #555555; }

::-moz-selection {
  background: #fefac7;
  /* Firefox */
  color: #555555; }

strong, b {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

input,
button,
select,
textarea, label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400; }

hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0; }

.badge {
  font-weight: normal;
  margin-left: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-color: #123f6d;
  padding: 3px 6px; }

a {
  color: #333;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

a:hover,
a:focus {
  color: #123f6d;
  text-decoration: none; }

.colored-text {
  color: #123f6d; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #060606;
  font-weight: 700;
  margin: 0;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 3.2em;
  line-height: 44px;
  margin: 0 0 44px 0; }

h2 {
  font-size: 2.6em;
  font-weight: 700;
  line-height: 42px;
  margin: 0 0 32px 0; }

h3 {
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 15px; }

/*use in section headings*/
h3.heading {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
  vertical-align: middle;
  font-family: "Lato", sans-serif; }

h3.heading:after {
  position: relative;
  left: 18px;
  content: "";
  display: inline-block;
  width: 200%;
  vertical-align: middle;
  height: .50em;
  margin: 0 -200% 0 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

h4 {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px 0; }

h5 {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0; }

h6 {
  color: #333;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0; }

/*parahraphs*/
p {
  color: #555;
  line-height: 24px;
  margin: 0 0 20px; }

p.sub-text {
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  font-weight: 300;
  color: #555; }

p.lead {
  font-size: 16px;
  font-weight: 400; }

pre:after, pre:before {
  clear: both;
  display: table;
  content: ""; }

/*******section heading**********/
.center-heading {
  text-align: center;
  margin-bottom: 40px; }

.center-heading h2 {
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  font-size: 25px; }

.center-heading p {
  font-size: 20px;
  line-height: 35px; }

.center-heading h2 strong {
  font-weight: 700; }

.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  /* border-bottom: 1px solid $skincolor; */
  margin: auto; }

.center-heading p {
  margin-top: 10px; }

.overflow-hidden {
  overflow: hidden; }

/*-----------------------------------------------------------------------------------*/
/*	DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide0 {
  width: 100%;
  height: 0px; }

.divide2 {
  width: 100%;
  height: 2px; }

.divide3 {
  width: 100%;
  height: 3px; }

.divide5 {
  width: 100%;
  height: 5px; }

.divide10 {
  width: 100%;
  height: 10px; }

.divide15 {
  width: 100%;
  height: 15px; }

.divide20 {
  width: 100%;
  height: 20px; }

.divide25 {
  width: 100%;
  height: 25px; }

.divide30 {
  width: 100%;
  height: 30px; }

.divide35 {
  width: 100%;
  height: 35px; }

.divide40 {
  width: 100%;
  height: 40px; }

.divide45 {
  width: 100%;
  height: 40px; }

.divide50 {
  width: 100%;
  height: 50px; }

.divide55 {
  width: 100%;
  height: 55px; }

.divide60 {
  width: 100%;
  height: 60px; }

.divide65 {
  width: 100%;
  height: 65px; }

.divide70 {
  width: 100%;
  height: 70px; }

.divide75 {
  width: 100%;
  height: 75px; }

.divide80 {
  width: 100%;
  height: 80px; }

.divide85 {
  width: 100%;
  height: 85px; }

/*margins*/
.margin10 {
  margin-bottom: 10px; }

.margin20 {
  margin-bottom: 20px; }

.margin30 {
  margin-bottom: 30px; }

.margin40 {
  margin-bottom: 40px; }

.no-padding {
  padding: 0px; }

.no-padding.gray {
  background-color: #f5f5f5; }

.no-padding-inner h3 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 40px; }

.no-padding-inner {
  padding: 60px; }

@media (max-width: 568px) {
  .no-padding-inner {
    padding: 15px; } }
.margin-0 {
  margin: 0px !important; }

/*************************************************************/
/************************** Buttons **************************/
/*************************************************************/
.btn {
  font-weight: 400;
  letter-spacing: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase; }

.btn-default:hover, .btn-default:focus {
  background-color: #333;
  border-color: #333;
  color: #fff; }

.btn-lg {
  padding: 14px 28px 13px 28px;
  font-size: 13px;
  font-weight: 400; }

.btn:focus, .btn:hover {
  outline: 0;
  color: #fff; }

.btn-xs {
  font-size: 12px; }

.btn-theme-bg {
  border-color: #123f6d;
  color: #fff;
  background-color: #123f6d; }

.btn i {
  margin-right: 10px; }

.btn-theme-bg:hover {
  background-color: #333;
  border-color: #333; }

.btn-theme-dark {
  background-color: #333;
  color: #fff; }

.btn-theme-dark:hover {
  color: #fff;
  background-color: #123f6d; }

/*********border-buttons**********/
.border-black {
  border: 1px solid #333;
  color: #000;
  background-color: transparent; }

.border-black:hover {
  background-color: #000;
  border-color: #000;
  color: #fff; }

.border-white {
  border: 1px solid #fff;
  color: #fff; }

.border-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000; }

.border-theme {
  border: 1px solid #123f6d;
  color: #123f6d; }

.border-theme:hover {
  background-color: #123f6d;
  border-color: #123f6d;
  color: #fff; }

.btn-3d {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3); }

.btn-ico i {
  margin-left: 5px; }

/***********bootstrap navigation default overrides--*/
.navbar-default {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
  min-height: 70px;
  padding: 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
  background-color: rgba(255, 255, 255, 0.9);
  clear: both;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #123f6d;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #123f6d;
  background-color: transparent; }

.navbar-brand {
  font-weight: 700;
  color: #000 !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase; }

.navbar-default .navbar-nav > li > a {
  color: #123f6d;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Lato", sans-serif; }

.navbar-default .navbar-nav > li > a:hover {
  color: #123f6d; }

.navbar-brand img {
  width: 80px;
  height: auto; }

/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
  padding: 0px;
  margin: 0;
  min-width: 200px;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee; }

.search-dropdown {
  min-width: 244px !important; }

.navbar .dropdown-menu li a {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f5f5f5;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-transform: capitalize; }

.dropdown-menu .label {
  margin-top: 6px; }

.navbar .dropdown-menu li a:hover {
  background-color: #f5f5f5; }

/*********************

TOP BARS

****************************/
.top-bar-dark {
  background-color: #333; }

.top-bar-light {
  background-color: #f3f3f3; }
  .top-bar-light .top-dark-right li {
    border-color: #ddd; }

.top-bar-light .top-dark-right li a:hover {
  color: #123f6d; }

.top-bar-socials {
  line-height: 18px;
  padding-top: 5px; }
  .top-bar-socials:after {
    display: table;
    clear: both;
    content: ""; }
  .top-bar-socials a {
    margin: 0px 3px; }

.top-dark-right {
  margin: 0px;
  padding: 0px; }

.top-dark-right li {
  line-height: 40px;
  border-left: 1px solid #444;
  padding: 0px 10px; }

.top-dark-right li, .top-dark-right li a {
  color: #bbb;
  font-size: 12px; }

.top-dark-right li i {
  margin-right: 5px; }

.top-dark-right li a:hover {
  color: #fff; }

/***search top bar**/
.topbar-icons {
  display: block; }

.topbar-icons i {
  margin: 0px !important;
  display: block; }

.search {
  display: none;
  position: absolute;
  left: 0;
  right: 15px;
  top: 0;
  height: 100%;
  z-index: 99999; }

.search .form-control {
  height: 100%;
  position: absolute;
  top: 0;
  width: 99%;
  right: 0;
  border: 0px;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

.search-close {
  position: absolute;
  right: 9px;
  top: 5px;
  cursor: pointer; }

/* Mega MENU */
.yamm-content {
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff; }

.dropdown-menu .divider {
  background-color: #222; }

.yamm-content h3.heading {
  border-bottom: none;
  margin: 0 0 5px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.yamm-content h3:before {
  content: "";
  display: none; }

.yamm-content .mega-vertical-nav {
  margin-bottom: 30px; }

.yamm-content .mega-vertical-nav li a {
  padding: 8px 0px;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #888;
  border-bottom: 1px solid #fbfbfb;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  /*    border-bottom: 0px;*/ }

.nav.mega-vertical-nav li a:hover {
  background-color: transparent;
  color: #123f6d; }

.nav.mega-vertical-nav li a i {
  margin-right: 10px; }

.mega-contact p {
  margin: 0; }

.mega-contact i {
  color: #123f6d;
  margin-right: 5px; }

/*navbar search form***/
.dropdown-form {
  padding: 10px 27px;
  min-width: 213px; }

.dropdown-form .form-control {
  height: 34px; }

/***header top bar with search***/
.top-bar form {
  position: relative;
  margin: 0px;
  padding: 0px; }

.top-bar button {
  border: 0px;
  background-color: transparent;
  position: absolute;
  top: 9px;
  right: 13px;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  line-height: 15px; }

.top-bar form .form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin-top: 6px;
  width: 150px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.top-bar .form-group {
  margin: 0px; }

.top-bar .form-control:focus {
  width: 200px; }

/****************************dark heder********************/
/***********bootstrap navigation default overrides--*/
.navbar-inverse {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
  min-height: 70px;
  padding: 10px 0;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #333;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #123f6d;
  background-color: transparent; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #123f6d;
  background-color: transparent; }

.navbar-inverse .navbar-brand {
  font-weight: 700;
  color: #fff !important;
  font-size: 30px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #123f6d; }

#header-top.dark-header-top {
  background-color: #111;
  border-bottom-color: #222; }

#header-top.dark-header-top .top-bar a i {
  color: #fff; }

#header-top.dark-header-top .top-bar ul li {
  color: #fff; }

/******************transparent header*****************************/
.navbar-inverse.transparent-header {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  padding: 10px 0px;
  min-height: 50px; }

@media (max-width: 767px) {
  .navbar-inverse.transparent-header {
    background-color: #111 !important; } }
/****************header center*****************/
.header-center {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 25px 0; }

.header-center a {
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700; }

.header-center span {
  display: block; }

.navbar-default.menu-header-center {
  padding: 0px;
  min-height: 50px; }

.navbar-default.menu-header-center .navbar-nav > li {
  border-left: 1px solid #ddd; }

/***home boxed***/
#boxed {
  background-color: #f8f8f8; }

@media (min-width: 1200px) {
  .boxed-wrapper {
    margin: 0  auto;
    width: 1170px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16); } }
.boxed-wrapper .tp-banner-container {
  margin: 0px auto; }

.boxed-wrapper .navbar-default {
  left: auto;
  width: auto;
  right: auto; }

/***side panel*****/
.side-panel-page {
  overflow-x: hidden; }

.side-panel {
  padding: 15px 0;
  background-color: #fff; }
  .side-panel .offcanvas-toggle-right.navbar-toggle {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 18px; }

.offcanvas-side-content .logo-side-nav {
  padding: 25px 15px;
  text-align: center; }
.offcanvas-side-content .navmenu {
  width: 220px;
  padding: 0; }
.offcanvas-side-content li.nav-header {
  padding: 15px; }
.offcanvas-side-content .profile-element img {
  display: block;
  margin: 0 auto; }
.offcanvas-side-content .profile-element .dropdown-menu {
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  padding: 0px; }
  .offcanvas-side-content .profile-element .dropdown-menu > li:last-child a {
    border-bottom: 0px; }
  .offcanvas-side-content .profile-element .dropdown-menu > li > a {
    padding: 8px 15px;
    border-bottom: 1px solid #f5f5f5; }
    .offcanvas-side-content .profile-element .dropdown-menu > li > a i {
      margin-right: 5px; }

.metismenu > li > a {
  border-bottom: 1px solid #eee;
  padding: 7px 15px; }
.metismenu .arrow {
  float: right;
  position: absolute;
  right: 10px;
  top: 14px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }
  .metismenu .arrow:before {
    content: "\f196"; }
.metismenu .active > a > .arrow:before {
  content: "\f147"; }
.metismenu .nav-second-level > li a {
  padding: 7px 15px;
  padding-left: 45px; }
.metismenu .nav-third-level > li a {
  padding: 7px 15px;
  padding-left: 55px; }

@media (max-width: 991px) {
  .navbar-default .nav > li > a {
    padding: 10px 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px; }
    .navbar-default .nav > li > a i {
      margin-right: 3px; }

  .navbar-inverse .nav > li > a {
    padding: 10px 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px; }
    .navbar-inverse .nav > li > a i {
      margin-right: 3px; } }
/************************************************* css for footers****************************************/
/**footet dark**/
#footer {
  background: #111;
  font-size: 0.9em;
  padding: 80px 0 0;
  position: relative;
  clear: both; }

.footer-col h3 {
  color: #fff;
  margin-bottom: 35px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal; }

.footer-col h3:first-letter {
  border-bottom: 1px solid #bbb; }

.footer-col p {
  color: #aeaeae;
  font-size: 13px; }

.contact p {
  margin-bottom: 10px; }

.contact strong {
  margin-right: 10px;
  font-weight: bold; }

.contact strong i {
  margin-right: 5px; }

.contact a {
  color: #777; }

.contact a:hover {
  color: #123f6d; }

.f2-work li {
  margin: 1px;
  padding: 0px; }

.f2-work li a {
  display: block; }

.f2-work li a img {
  width: 80px;
  border: 2px solid transparent;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

.f2-work li a:hover img {
  border-color: #123f6d; }

.footer-btm {
  margin-top: 30px;
  padding: 20px;
  background-color: #0c0c0c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.news-form .form-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 30px; }

@media (max-width: 767px) {
  .news-form {
    text-align: center !important; }

  .news-form .form-control {
    margin-bottom: 10px; } }
.footer-social li {
  padding: 0px; }

/****************footer 2****************/
#footer-option {
  background: #121214;
  border-top: 4px solid #e1e1e1;
  font-size: 0.9em;
  padding: 80px 0 0;
  position: relative;
  clear: both; }

#footer-option .footer-col h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

#footer-option .footer-btm {
  background-color: #0c0c0c; }

#footer-option .contact a {
  color: #777; }

#footer-option .contact a:hover {
  color: #123f6d; }

/*******************footer 3********************/
.footer-col.footer-3 h3 {
  text-transform: uppercase;
  font-size: 35px; }

/************twitter feed*****************/
.tweet ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.tweet ul li {
  color: #777;
  font-weight: 600;
  padding: 8px 0;
  font-size: 15px; }

.tweet ul li:before {
  content: "\f099";
  font-family: 'FontAwesome';
  margin-right: 15px;
  font-size: 16px;
  color: #123f6d; }

.tweet ul li .date {
  padding: 3px 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.tweet ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px; }

.tweet li a {
  color: #fff;
  font-size: 13px; }

.tweet li a:hover {
  color: #123f6d; }

.latest-f-news li a {
  display: block;
  padding: 4px 0;
  color: #777; }

.latest-f-news li a i {
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

.latest-f-news li a:hover i {
  margin-left: 5px; }

.latest-f-news li a:hover {
  color: #fff; }

/**************************

Footer light styles

******************************/
.footer-light-1 {
  padding-top: 60px;
  background-color: #f4f4f4; }
  .footer-light-1 h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 20px; }
  .footer-light-1 .menu-1 li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 0; }
    .footer-light-1 .menu-1 li a {
      font-size: 14px;
      text-transform: uppercase; }
  .footer-light-1 .media img {
    margin-top: 5px; }
  .footer-light-1 .media .media-body p {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 0px; }
  .footer-light-1 .media .media-heading {
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 600; }
  .footer-light-1 .f2-work li a img {
    height: 70px; }
  .footer-light-1 .info li {
    padding-bottom: 10px; }
    .footer-light-1 .info li i {
      color: #123f6d;
      margin-right: 10px; }
  .footer-light-1 .subscribe-form .form-control {
    height: 49px; }

.download-app li {
  padding: 0px; }
  .download-app li a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 35px; }

.footer-copyright {
  font-size: 13px;
  color: #999;
  padding: 20px 15px;
  background-color: #ddd; }

/****footer light option 2*****/
.footer-light-2 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f5f5f5; }
  .footer-light-2 h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin-bottom: 23px;
    font-size: 18px; }
  .footer-light-2 p {
    color: #777; }
  .footer-light-2 .footer-work {
    clear: both; }
    .footer-light-2 .footer-work a {
      display: block;
      width: 80px;
      margin: 0px;
      float: left;
      margin: 1px; }
  .footer-light-2 .find-us p {
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 10px; }
  .footer-light-2 .footer-news li a {
    display: block;
    margin-bottom: 10px; }
    .footer-light-2 .footer-news li a:before {
      content: "\f105";
      font-family: "FontAwesome";
      margin-right: 10px; }
  .footer-light-2 .footer-bottom {
    padding-top: 30px;
    background-color: #eee; }
    .footer-light-2 .footer-bottom h3 {
      margin-bottom: 30px; }
    .footer-light-2 .footer-bottom ul {
      margin-bottom: 30px;
      padding: 0px; }
    .footer-light-2 .footer-bottom p {
      font-size: 12px;
      font-weight: 400;
      margin-top: 0px;
      text-transform: uppercase; }

/****footer light option 3*****/
.footer-light-3 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #f5f5f5; }
  .footer-light-3 h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    margin-bottom: 20px; }
  .footer-light-3 p {
    color: #777; }
  .footer-light-3 .find-us p {
    margin-top: 0px;
    font-weight: 400;
    margin-bottom: 10px; }
    .footer-light-3 .find-us p strong {
      font-weight: 700;
      display: inline-block;
      margin-right: 5px; }
  .footer-light-3 .quick-links {
    padding-right: 40px; }
    .footer-light-3 .quick-links li {
      padding: 6px 0; }
      .footer-light-3 .quick-links li a {
        font-size: 14px;
        text-transform: capitalize; }
  .footer-light-3 .form-control {
    min-height: 45px;
    color: #999;
    text-transform: uppercase;
    font-size: 16px; }

.footer-bottom {
  padding-top: 30px;
  background-color: #eee; }
  .footer-bottom h3 {
    margin-bottom: 30px; }
  .footer-bottom ul {
    margin-bottom: 30px;
    padding: 0px; }
  .footer-bottom p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    text-transform: capitalize; }

/***********animation delays*****************/
.delay-1 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms; }

.delay-2 {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  animation-delay: 600ms; }

.delay-3 {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  animation-delay: 1200ms; }

.delay-4 {
  -webkit-animation-delay: 1600ms;
  -moz-animation-delay: 1600ms;
  animation-delay: 1600ms; }

/****************************breadcrumb***************************/
.breadcrumb-wrap {
  padding: 30px 0;
  background-image: url(../img/shadow-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-top: 1px solid #d2d3d4;
  border-bottom: 1px solid #d2d3d4; }

.breadcrumb-wrap h4 {
  margin: 0px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif; }

ol.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #333; }

ol.breadcrumb li {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1px; }

ol.breadcrumb li a {
  color: #333; }

/************team section css here*****/
.person-v2 {
  margin-bottom: 30px; }

.our-team-v-2 {
  padding-top: 70px;
  background-color: #f5f5f5;
  padding-bottom: 40px; }

.person-v2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.person-v2 h3 {
  margin: 5px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px; }

.person-desc-v2 em {
  display: block;
  color: #777;
  margin-bottom: 10px; }

/***************about me*********************/
.me-intro {
  padding: 200px 0; }

.me-intro h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase; }

.me-intro p {
  color: #fff; }

.me-hobbies h4 i {
  margin-right: 10px;
  color: #123f6d;
  font-size: 25px; }

.services-me li {
  padding: 10px 0;
  font-size: 16px; }

.services-me li i {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px;
  background-color: #e5e5e5;
  color: #123f6d; }

.contact-me {
  background-color: #eee;
  padding: 40px 0; }

/****** twitter ***********/
.latest-tweets .tweet li {
  font-weight: 400; }

.latest-tweets .tweet li a {
  color: #123f6d; }

/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }
  .social-icon:hover {
    border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }
  .social-icon i:last-child {
    color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }
  .social-icon-lg:hover {
    border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }
  .social-icon-lg i:last-child {
    color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }
  .social-icon-sm:hover {
    border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }
  .social-icon-sm i:last-child {
    color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

/******* SI icons **********/
si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

.social-shortcodes .left-heading {
  font-size: 30px;
  text-transform: uppercase; }

.grid-boxed {
  border: 1px solid transparent;
  padding: 20px; }

.grid-boxed:hover {
  border: 1px dashed #999; }

/*********revolution slider 5 css*****/
.tp-caption.NotGeneric-Title, rev-btn, .NotGeneric-Title, .tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle, .tp-caption.Gym-Display, .Gym-Display, .tp-caption.Gym-Subline, .Gym-Subline, .tp-caption.Gym-SmallText, .Gym-SmallText, .tp-caption.Gym-Button, .Gym-Button, .rev-btn {
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important; }

.tp-caption.Gym-Button, .Gym-Button {
  background-color: #123f6d; }

.new-label {
  color: #123f6d; }

body {
  font-size: 16px; }

.top-bar-dark {
  height: 40px;
  background-color: #123f6d; }
  .top-bar-dark .top-bar-socials .si-colored-email {
    display: block; }
  .top-bar-dark li {
    display: none;
    border: none; }
    .top-bar-dark li a {
      color: #eee; }

.navbar-brand {
  padding-top: 0;
  margin-top: -5px; }
  .navbar-brand img {
    width: 170px;
    margin-top: -35px;
    border: solid 1px #fff; }

.sticky-wrapper.is-sticky .navbar-brand img {
  width: 110px;
  margin-top: 0; }

header {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  height: 300px; }

.our-team-v-2 {
  background-color: white; }
  .our-team-v-2 .person-v2 img {
    width: 350px; }

.divider {
  background: url(../img/divider-1.jpg);
  background-size: cover;
  height: 300px; }

#whatwedo .center-heading {
  margin-bottom: 80px; }

.medical-service-box {
  text-align: center;
  border: 1px solid #123f6d;
  margin: 0 10px 40px 10px; }
  .medical-service-box .btn-theme-bg {
    position: relative;
    margin-bottom: -20px; }
  .medical-service-box p {
    font-size: 13px;
    padding: 15px;
    margin: 0px; }
  .medical-service-box h4 {
    margin: 0px;
    padding: 15px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px; }
  .medical-service-box i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background-color: #123f6d;
    font-size: 30px;
    margin-top: -60px;
    position: relative;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }

.medical-service-box:hover {
  color: #fff;
  background-color: #e9f2fb; }

#footer {
  background-color: #f3f3f3;
  padding-top: 30px; }
  #footer .footer-col {
    padding: 10px; }
    #footer .footer-col h3 {
      color: #123f6d;
      font-weight: normal; }
    #footer .footer-col p {
      color: inherit; }
    #footer .footer-col:hover {
      background-color: #dadada;
      color: #333; }
  #footer .footer-btm {
    background-color: #f3f3f3; }
    #footer .footer-btm a:hover {
      background-color: #f3f3f3;
      color: #123f6d;
      text-decoration: underline; }

.team .me-intro {
  height: 0; }
  .team .me-intro .container {
    font-size: 75%; }
    .team .me-intro .container h2 {
      width: 200px;
      text-align: right;
      float: right; }
    .team .me-intro .container p {
      clear: both; }
.team .services-me li {
  font-size: 16px; }
.team .services-me a {
  text-decoration: underline; }

.james .me-intro {
  background: url(../img/team/james-katz-2.jpg);
  background-size: cover;
  background-position: -140px 0; }
  .james .me-intro .container {
    margin-top: 0; }

.jason .me-intro {
  background: url(../img/team/jason-shelly-2.jpg);
  background-size: cover;
  background-position: -240px 0; }
  .jason .me-intro .container {
    margin-top: -120px; }

.steven .me-intro {
  background: url(../img/team/steven-sheppard-2.jpg);
  background-size: cover;
  background-position: -210px 0; }
  .steven .me-intro .container {
    margin-top: -60px; }

.services.corporate-commercial header {
  background-image: url("../img/divider-3.jpg"); }

.services.estate-succession-planning header {
  background-image: url("../img/divider-2.jpg"); }

.services.litigation header {
  background-image: url("../img/divider-2.jpg"); }

.services.municipal-land-use header {
  background-image: url("../img/divider-3.jpg"); }

.services.real-estate header {
  background-image: url("../img/divider-1.jpg"); }

.services.municipal-land-use section.body .container h2, .services.estate-succession-planning section.body .container h2 {
  font-size: 18px; }

.services header {
  height: 400px; }
.services section.body {
  margin-top: -100px; }
  .services section.body .container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 35px 40px; }
    .services section.body .container h2 {
      color: #123f6d;
      font-size: 20px; }

@media (min-width: 767px) {
  body {
    font-size: 18px; }

  .top-bar-dark .top-bar-socials .si-colored-email {
    display: none; }
  .top-bar-dark li {
    display: block; }

  header {
    height: 400px; }

  .divider {
    height: 600px; }

  .team .services-me li {
    font-size: 18px; }

  .team .me-intro {
    height: inherit; }
    .team .me-intro .container {
      font-size: 100%;
      margin-top: 0; }
      .team .me-intro .container h2 {
        width: 100%; }
      .team .me-intro .container p {
        clear: both; }

  .team.jason .me-intro {
    background-position: -200px 0; }

  .team.james .me-intro {
    background-position: -80px 0; }

  .team.steven .me-intro {
    background-position: -280px 0; }

  .services header {
    height: 500px; }
  .services section.body .container h2 {
    font-size: 30px; }

  .services.municipal-land-use section.body .container h2, .services.estate-succession-planning section.body .container h2 {
    font-size: 30px; } }
@media (min-width: 991px) {
  .team.steven .me-intro {
    background-position: -170px 0; } }
@media (min-width: 1200px) {
  header {
    height: 600px; }

  .divider {
    height: 600px; }

  .services header {
    height: 600px; }

  .team.james .me-intro, .team.jason .me-intro, .team.steven .me-intro {
    background-position: 0 0; } }

/*# sourceMappingURL=skslaw.css.map */
