

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#123f6d;//Theme default color code, paste your own code here
$lightcolor:#fff; //white color and background
$graycolor:#777; //gray color for p tags
$darkcolor:#333; //dark color for heading
$primary-font:  'Lato', sans-serif; //default font family
$alert-color:red; //alert color
$footer-color:#f3f3f3;
$team-font-size:18px;
