@import "_variables";

@media (min-width: 767px) {
  body {
    font-size: $font-size-md;
  }

  .top-bar-dark {
    .top-bar-socials .si-colored-email {
      display: none;
    }
    li {
      display: block;
    }
  }

  // for some reason the header partially hides when scrolling down
  body.home .sticky-wrapper.is-sticky .navbar-header {
    margin-top: 0;
  }

  header {
    height: 400px;
  }

  .divider {
    height: 600px;
  }

  #footer {
    .footer-map {
      display: block;
    }
  }

  .team {
    .services-me {
      li {
        font-size: $font-size-md;
      }
    }
  }

  .team {
    .me-intro {
      height: inherit;
      .container {
        font-size: 100%;
        margin-top: 0;
        h2 {
          width: 100%;
        }
        p {
          clear: both;
        }
      }
    }
  }

  .team.jason {
    .me-intro {
      background-position: -100px 0;
    }
  }
  .team.steven {
    .me-intro {
      background-position: -170px 0;
    }
  }
  .team.david {
    .me-intro {
      background-position: -100px 0;
    }
  }
  .team.rodrigo {
    .me-intro {
      background-position: 0 0;
      .container {
        h2 {
          width: 300px;
        }
      }
    }
  }

  .services,
  .classaction {
    header {
      height: 500px;
    }
    section.body {
      .container {
        h2 {
          font-size: 30px;
        }
      }
    }
  }

  .classaction {
    section.body .container h2 {
      margin-top: -25px;
    }
  }

  /////////////////////////////////////
  // language links
  /////////////////////////////////////
  .top-bar-socials {
    a.lang {
      display: inline-block;
    }
  }
  .navbar {
    a.lang {
      display: none;
    }
  }
}

@media (min-width: 880px) {
  .team.steven {
    .me-intro {
      background-position: -100px 0;
    }
  }
}

@media (min-width: 992px) {
  .classaction {
    section.body .container h2 {
      margin-top: -10px;
    }
  }
}
