
@media (min-width: 1200px) {
	header {
		height: 600px;
	}

	.divider {
		height: 600px;
	}

	.services {
		header {
			height: 600px;
		}
	}

	.team.james, .team.jason, .team.steven, .team.david, .team.guillaume {
		.me-intro {
			background-position: 0 0;
		}
	}
}
