@media (min-width: 1200px) {
  header {
    height: 600px;
  }

  .divider {
    height: 600px;
  }

  .services {
    header {
      height: 600px;
    }
  }

  .team.steven,
  .team.david {
    .me-intro {
      background-position: 0 0;
    }
  }
  .team.jason,
  .team.shelbi {
    .me-intro {
      background-position: 0 -50px;
    }
  }
}
