@import "_variables";
@import "_mixins";

body {
	font-size: $font-size-sm;
}

.top-bar-dark {
	background-color: $skincolor;
	li {
		border: none;
		a {
			color: #eee;
		}
	}
}

.navbar-brand {
	padding-top: 0;
	margin-top: -5px;
	img {
		width: 170px;
		margin-top: -35px;
		border: solid 1px #fff;
	}
}
.sticky-wrapper.is-sticky .navbar-brand img {
	width: 110px;
	margin-top: 0;
}

header {
	background-image: url('../img/header-bg.jpg');
	background-size: cover;
	height: 300px;
}

.our-team-v-2 {
	background-color: white;
	.person-v2 img {
		width: 350px;
	}
}

.divider {
	background: url(../img/divider-1.jpg);
	background-size: cover;
	height: 300px;
}

#whatwedo .center-heading {
	margin-bottom: 80px;
}

.medical-service-box {
	text-align:center;
	border: 1px solid $skincolor;
	margin: 0 10px 40px 10px;
	.btn-theme-bg{
		position: relative;
		margin-bottom: -20px;
	}
	p{
		font-size: 13px;
		padding: 15px;
		margin: 0px;
	}
	h4{
		margin: 0px;
		padding: 15px;
		padding-bottom: 0px;
		text-transform: uppercase;
		font-size: 20px;
	}
	i{
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		display: inline-block;
		@include border-radius (50%);
		color:#fff;
		background-color: $skincolor;
		font-size: 30px;
		margin-top: -60px;
		position: relative;
		@include box-shadow (2px 2px 3px rgba(0,0,0,0.2));
	}
}
.medical-service-box:hover {
	color: #fff;
	background-color: lighten($skincolor, 70%);
}

#footer {
	background-color: $footer-color;
	padding-top: 30px;

	.footer-col {
		padding: 10px;

		h3 {
			color: $skincolor;
			font-weight: normal;
		}

		p {
			color: inherit;
		}

		&:hover {
			background-color: darken($footer-color, 10%);
			color: $darkcolor;
		}
	}

	.footer-btm {
		background-color: $footer-color;

		a:hover {
			background-color: $footer-color;
			color: $skincolor;
			text-decoration: underline;
		}
	}
}

.team {
	.services-me {
		li {
			font-size: $font-size-sm;
		}
		a {
			text-decoration: underline;
		}
	}
}

.team {
	.me-intro {
		.container {
			font-size: 75%;
			margin-top: -120px;
			h2 {
				width: 200px;
				text-align: right;
				float: right;
			}
			p {
				clear: both;
			}
		}
	}
}
.james {
	.me-intro {
		background: url(../img/team/james-katz-2.jpg);
		background-size: cover;
	}
}
.jason {
	.me-intro {
		background: url(../img/team/jason-shelly-2.jpg);
		background-size: cover;
	}
}
.steven {
	.me-intro {
		background: url(../img/team/steven-sheppard-2.jpg);
		background-size: cover;
		background-position: -200px 0;
		height: 0;
	}
}

.services.corporate-commercial header {
	background-image: url("../img/divider-3.jpg");
}
.services.estate-succession-planning header {
	background-image: url("../img/divider-2.jpg");
}
.services.litigation header {
	background-image: url("../img/divider-2.jpg");
}
.services.municipal-land-use header {
	background-image: url("../img/divider-3.jpg");
}
.services.real-estate header {
	background-image: url("../img/divider-1.jpg");
}

.services {
	header {
		height: 400px;
	}
	section.body {
		margin-top: -100px;

		.container {
			background-color: #fff;
			background-color: rgba(255,255,255,0.8);
			padding: 35px 40px;

			h2 {
				color: $skincolor;
				font-size: 20px;
			}
		}
	}
}
