/*
		Document   : assan
		Author     : Design_mylife
		Description:assan multi-page for Multipurpose use
		Version    : V2.0
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900);
@import "_mixins";
@import "_variables";
@import "_base.scss";
@import "_header.scss";
@import "_footers.scss";


/***********animation delays*****************/
.delay-1{
		-webkit-animation-delay: 300ms;
		-moz-animation-delay: 300ms;
		animation-delay: 300ms;
}
.delay-2{
		-webkit-animation-delay: 600ms;
		-moz-animation-delay: 600ms;
		animation-delay: 600ms;
}
.delay-3{
		-webkit-animation-delay: 1200ms;
		-moz-animation-delay: 1200ms;
		animation-delay: 1200ms;
}
.delay-4{
		-webkit-animation-delay: 1600ms;
		-moz-animation-delay: 1600ms;
		animation-delay: 1600ms;
}


/****************************breadcrumb***************************/
.breadcrumb-wrap{
		padding: 30px 0;
		background-image:url(../img/shadow-bg.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #f6f6f6;
		border-top: 1px solid #d2d3d4;
		border-bottom: 1px solid #d2d3d4;
}
.breadcrumb-wrap h4{
		margin: 0px;
		font-size:16px;
		color: #333;
		font-weight: 700;
		letter-spacing: 8px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: $primary-font;
}
ol.breadcrumb{
		margin: 0;
		padding: 0;
		background-color: transparent;
		color:#333;
}
ol.breadcrumb li{
		font-weight: 400;
		font-size: 14px;
		text-transform: capitalize;
		letter-spacing: 1px;
}
ol.breadcrumb li a{
		color:#333;
}


/************team section css here*****/
.person-v2{
		margin-bottom: 30px;
}
.our-team-v-2{
		padding-top: 70px;
		background-color: #f5f5f5;
		padding-bottom: 40px;
}
.person-v2 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
}
.person-v2 h3{
		margin: 5px 0;
		font-size: 18px;
		text-transform: uppercase;
		font-weight:600;
		line-height: 24px;
}
.person-desc-v2 em{
		display: block;
		color:#777;
		margin-bottom: 10px;
}


/***************about me*********************/
.me-intro{
		padding: 200px 0;
}
.me-intro h2{
		color:#fff;
		font-weight: 700;
		margin-bottom: 15px;
		text-transform: uppercase;
}
.me-intro p{
		color:#fff;
}
.me-hobbies h4 i{
		margin-right: 10px;
		color:$skincolor;
		font-size: 25px;
}
.services-me li{
		padding: 10px 0;
		font-size: 16px;
}
.services-me li i{
		margin-right: 10px;
		width:50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		font-size: 15px;
		background-color: #e5e5e5;
		color:$skincolor;
}
.contact-me{
		background-color: #eee;
		padding: 40px 0;
}

/****** twitter ***********/
.latest-tweets .tweet li{
		font-weight: 400;

}
.latest-tweets .tweet li a{
		color:$skincolor;
}


/**social icons default size**/
.social-icon {
		margin: 0 5px 5px 0;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px!important;
		color: #555;
		text-shadow: none;
		border-radius: 3px;
		overflow: hidden;
		display: block;
		float:left;
		text-align:center;
		border: 1px solid #AAA;
		&:hover{
				border-color: transparent;
		}

}
.social-icon i{
		display: block;
		@include transition (all .3s ease);
		line-height: 40px;
		position: relative;
		&:last-child{
				color: #FFF!important;
		}
}
.social-icon:hover i:first-child {
		margin-top: -40px;
}
/***social icons lg (big)***/
.social-icon-lg {
		margin: 0 5px 5px 0;
		width: 60px;
		height: 60px;
		font-size: 30px;
		line-height: 60px!important;
		color: #555;
		text-shadow: none;
		border-radius: 3px;
		overflow: hidden;
		display: block;
		float:left;
		text-align:center;
		border: 1px solid #AAA;
		&:hover{
				border-color: transparent;
		}

}
.social-icon-lg i{
		display: block;
		@include transition (all .3s ease);
		line-height: 60px;
		position: relative;
		&:last-child{
				color: #FFF!important;
		}
}
.social-icon-lg:hover i:first-child {
		margin-top: -60px;
}
/***social icons small***/
.social-icon-sm {
		margin: 0 5px 5px 0;
		width: 30px;
		height: 30px;
		font-size: 18px;
		line-height: 30px!important;
		color: #555;
		text-shadow: none;
		border-radius: 3px;
		overflow: hidden;
		 display: block;
		float:left;
		text-align:center;
		border: 1px solid #AAA;
		&:hover{
				border-color: transparent;
		}
}
.social-icon-sm i{
		display: block;
		@include transition (all .3s ease);
		line-height: 30px;
		position: relative;
		&:last-child{
				color: #FFF!important;
		}
}
.social-icon-sm:hover i:first-child {
		margin-top: -30px;
}

/******* SI icons **********/
si-border{
		border: 1px solid #AAA !important;
}
.si-border-round{
		@include border-radius (50%);
}
.si-dark-round{
		@include border-radius (50%);
}
.si-gray-round{
		@include border-radius (50%);
}
.si-gray{
		background: #f3f3f3;
		border: 0px;
}
.si-dark{
		background-color: #333;
		border:0px !important;
		color:#fff !important;
}

/**icons hover colored**/
.si-colored-facebook ,.si-facebook:hover{
		background-color: #3B5998!important;
}
.si-colored-twitter, .si-twitter:hover {
		background-color: #00ACEE!important;
}
.si-colored-google-plus, .si-g-plus:hover {
		background-color: #DD4B39!important;
}
.si-colored-skype, .si-skype:hover {
		background-color: #00AFF0!important;
}
.si-linkedin:hover, .si-colored-linkedin {
		background-color: #0E76A8!important;
}
.si-pin:hover, .si-colored-pinterest{
		background-color: #C8232C!important;
}
.si-rss:hover, .si-colored-rss{
		background-color: #EE802F!important;
}
.si-pinterest:hover, .si-colored-pinterest {
		background-color: #C8232C!important;
}
.si-tumblr:hover, .si-colored-tumblr {
		background-color: #34526F!important;
}
.si-vimeo:hover, .si-colored-vimeo {
		background-color: #86C9EF!important;
}
.si-digg:hover, .si-colored-digg {
		background-color: #191919!important;
}
.si-instagram:hover, .si-colored-instagram {
		background-color: #3F729B!important;
}
.si-flickr:hover, .si-colored-flickr {
		background-color: #FF0084!important;
}
.si-paypal:hover, .si-colored-paypal {
		background-color: #00588B!important;
}
.si-yahoo:hover, .si-colored-yahoo {
		background-color: #720E9E!important;
}
.si-android:hover, .si-colored-andriod {
		background-color: #A4C639!important;
}
.si-appstore:hover, .si-colored-apple {
		background-color: #000!important;
}
.si-dropbox:hover {
		background-color: #3D9AE8!important;
}
.si-dribbble:hover, .si-colored-dribbble {
		background-color: #EA4C89!important;
}
.si-soundcloud:hover, .si-colored-soundcoloud {
		background-color: #F70!important;
}
.si-xing:hover, .si-colored-xing {
		background-color: #126567!important;
}
.si-phone:hover, .si-colored-phone {
		background-color: #444!important;
}
.si-behance:hover, .si-colored-behance{
		background-color: #053eff!important;
}
.si-github:hover, .si-colored-github {
		background-color: #171515!important;
}
.si-stumbleupon:hover, .si-colored-stumbleupon {
		background-color: #F74425!important;
}
.si-email:hover, .si-colored-email {
		background-color: #6567A5!important;
}
.si-wordpress:hover, .si-colored-wordpress {
		background-color: #1E8CBE!important;
}
.social-shortcodes .left-heading{
		font-size: 30px;
		text-transform: uppercase;
}
.grid-boxed{
		border: 1px solid transparent;
		padding: 20px;
}
.grid-boxed:hover{
		border:1px dashed #999;
}



/*********revolution slider 5 css*****/
.tp-caption.NotGeneric-Title,rev-btn, .NotGeneric-Title, .tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle,.tp-caption.Gym-Display, .Gym-Display,.tp-caption.Gym-Subline, .Gym-Subline,.tp-caption.Gym-SmallText, .Gym-SmallText,.tp-caption.Gym-Button, .Gym-Button,.rev-btn{
		font-family: $primary-font !important;
		font-weight: 400 !important;
}
.tp-caption.Gym-Button, .Gym-Button{
		background-color: $skincolor;
}
.new-label{
		color:$skincolor;
}
